[2014-11-04 21:41] TomHAnderson opened #4 "Missing /apigility/api/doctrine-adapter route"
https://github.com/zfcampus/zf-apigility-doctrine/issues/118

[2014-11-17 08:59] canetech opened #5 "Doctrine Adapter link does not show in Dashboard"
i installed zf-apigility-doctrine using the latest apigility skeleton and when i visit the url: http://localhost:8888/apigility/ui#/
this is the output, no doctrine adapter menu is available.

![screen shot 2014-11-17 at 4 53 41 pm](https://cloud.githubusercontent.com/assets/9798326/5067207/57be5732-6e7a-11e4-9599-521bb0b91c22.png)

-----------
application.config.php

    'modules' => array(

[2015-03-05 15:20] steverhoades opened #9 "UI doesn't load assets when a baseUrl is defined on a Request"
This is due to the following in zf-apigility-ui.phtml
[code]
which generates:
[code]
when it should generate:
[code]
As the base should always have a proceeding slash.

[2015-03-11 09:32] IonutPerfectWeb opened #12 "Forgotten files"
@ezimuel You forgot to add the js/css dependencies (ce9cc275.vendor.js, etc). Please fix this on develop.

Thanks!

[2015-03-20 23:02] steverhoades commented on #9
fixed with pull request #10

[2015-03-20 23:02] #9 closed

[2015-03-30 13:32] ezimuel opened #17 "Responsive issue new UI"
The new UI has some responsive issues, I tested with 1024x768 screen size and it looks like the image below.

![apigility_responsive_issue](https://cloud.githubusercontent.com/assets/475967/6897117/abf04038-d6f1-11e4-905f-ba628735d047.png)

The main issues are related with the **sidebar** (the search box disappears) and the **top menu**.

[2015-03-30 13:34] ezimuel commented on #12
@IonutPerfectWeb This issue has been fixed since PR https://github.com/zfcampus/zf-apigility-admin-ui/pull/13

[2015-03-30 13:34] #12 closed

[2015-03-31 14:43] ezimuel commented on #5
We are working on it in the new UI, see PR https://github.com/zfcampus/zf-apigility-admin-ui/pull/15

[2015-03-31 14:43] #5 closed

[2015-03-31 14:48] ezimuel opened #18 "The source code tab is not working in Chrome"
The source code tab for REST and RPC services of the new UI (dev branch) is not working in Chrome. This issue seems to be related to the **ng-click** usage in a `<select>` in AngularJS: http://stackoverflow.com/questions/21051345/select-options-through-ng-click-is-not-working-in-chrome-browser-using-angularjs. I'm working to fix it.

[2015-03-31 14:50] ezimuel commented on #4
@jguittard is managing the `/api/doctrine-adapter` route, see the PR https://github.com/zfcampus/zf-apigility-admin/pull/267

[2015-03-31 14:50] #4 closed

[2015-03-31 16:47] dstockto opened #19 "Documentation not saving for entity docs"
The payload for collections shows collection -> GET, POST, etc.

However the payload when saving entities has numbers instead of HTTP verbs. This causes the validator on saving docs to reject the payload. It's not currently possible to save docs via the UI for entities.

![image](https://cloud.githubusercontent.com/assets/775393/6924093/3f860228-d793-11e4-9b14-8669fca3d7b1.png)

[2015-03-31 16:49] dstockto opened #20 "New UI - DB Adapter setup masks fields it shouldn't"
In the new UI when configuring a new Db Adapter, the UI masks fields that should probably not be masked. These are hostname, port and charset.

![image](https://cloud.githubusercontent.com/assets/775393/6924140/97332118-d793-11e4-8993-5754295b373f.png)

[2015-03-31 22:18] dstockto opened #21 "Validator boolean fields present text inputs"
This makes the value that is saved a string. Previous UI had a slider/toggle button.

![image](https://cloud.githubusercontent.com/assets/775393/6930547/7bd5c096-d7c1-11e4-83c3-faa8c2413fc4.png)

Typing in true or false will result in the string 'true' or the string 'false' being saved to the config.

[2015-04-01 06:23] ezimuel commented on #20
@dstockto this issue has been fixed in PR #15.

[2015-04-01 06:23] #20 closed

[2015-04-01 07:19] ezimuel commented on #19
@dstockto I just send the PR #22 to fix this issue and other minor fixes.

[2015-04-01 15:10] weierophinney commented on #19
Fixed with #22

[2015-04-01 15:10] #19 closed

[2015-04-02 03:17] dstockto commented on #20
Confirmed working. Thank you.

[2015-04-02 03:31] dstockto commented on #19
Confirmed working. Thank you.

[2015-04-07 03:06] dstockto opened #23 "Creating service that already exists changes config file"
If you attempt to create a service on a resource and that resource already exists, the config is written (or at least part of it). On mine the parts it definitely changed were:

* The route
* Added another identical line to zf-versioning -> uri

Additionally an unrelated service that had been manually added 'haystack' added for a validator  was rewritten with numerical array indices. I'm assuming

[2015-04-08 21:25] weierophinney commented on #23
@dstockto Is this under 1.0 or the develop branch?

@ezimuel Can you look into this?

[2015-04-08 21:26] weierophinney commented on #21
@ezimuel This one is for you!

[2015-04-08 22:21] dstockto commented on #23
@weierophinney dev-develop

I'm not sure if this should be a ticket in the API rather than the UI.

[2015-04-09 18:12] dstockto opened #24 "Display problem when adding new collection query whitelist terms with "Enter""
In the new admin-ui, from a fresh page load (hard reload, go to API resource) I put in a new collection whitelist term, typing

account_id<enter>

This turned it into the blue pill with account_id, but when I clicked the save button, it changed to an empty pill:

![image](https://cloud.githubusercontent.com/assets/775393/7073582/ac1e8368-deb1-11e4-852c-26c65a6820e2.png)

It doesn't appear to do th

[2015-04-09 19:43] dstockto commented on #24
Upon further investigation, it appears to happen any time I hit the save button, regardless of how the value was created (space or enter) and regardless of whether anything was actually changed.

[2015-04-14 16:14] jguittard opened #27 "Displaying an RPC service after it's been created causes failures"
_Up to date with develop branches from zf-apigility-admin, zf-apigility-admin-ui, zf-rest and zf-mvc-auth._

To reproduce : create an RPC service, with whatever name or route
- Landing page show details screen which is empty (same goes when fetching from the service list in the sidebar)
- When trying to delete the service, landing page is empty too.

Root causes:
- Upon fetching, a while loop in A

[2015-04-14 17:30] weierophinney commented on #27
I cannot reproduce this with the current develop branch of the admin or UI.

[2015-04-14 17:31] weierophinney commented on #27
Deletion worked as expected, too.

[2015-04-14 17:34] jguittard commented on #27
I'll start from a blank project and set admin, admin-UI and rest to develop branches

[2015-04-14 18:38] jguittard commented on #27
So, I finally got the scenario. From a blank default project, update the composer with develop branches for zf-mvc-auth, zf-rest, zf-apigility-admin and zf-apigility-admin-ui, and update composer.
Then create an RPC service, details show up. Added info on its documentation tab and save. Refresh the page, the details are blank.
Then if you try to delete the service, the landing page receive a 400 r

[2015-04-14 19:25] weierophinney commented on #27
Okay, confirmed that the details disappear on a refresh. From what I can see, the API call is properly being made, but I'm seeing some angular errors pop up, which tells me we likely have a problem with how it deals with the returned payload.

When I delete, the delete operation itself is successful, but the problem is the missing "version" when sending the request; this should be a default value.

[2015-04-14 19:54] weierophinney commented on #27
Okay, Fixes on both develop of this repo and the zf-apigility-admin repo fix these situations.

[2015-04-14 19:54] #27 closed

[2015-04-15 13:05] jguittard opened #28 "UI breaks in several ways with latest Firefox on Mac"
See screenshots below

![capture d ecran 2015-04-15 a 15 02 32](https://cloud.githubusercontent.com/assets/5320213/7159205/cff6ed88-e380-11e4-8e2f-471041a4ea2e.png)
![capture d ecran 2015-04-15 a 15 02 51](https://cloud.githubusercontent.com/assets/5320213/7159208/d01c69e6-e380-11e4-82ad-5ae85a3186fe.png)
![capture d ecran 2015-04-15 a 15 03 05](https://cloud.githubusercontent.com/assets/5320213/7

[2015-04-15 13:40] ezimuel commented on #28
@jguittard I think I fixed these UI issues in the PR that I'm working on. I'll send it in a couple of hours.

[2015-04-15 13:44] jguittard commented on #28
Awesome @ezimuel!
Did you get the dropdown for source code work on Chrome ?

[2015-04-15 14:04] ezimuel commented on #28
@jguittard yes, I also solved the issue for the source code reported in PR #18.

[2015-04-16 07:07] ezimuel commented on #17
Solved in #29.

[2015-04-16 07:07] #17 closed

[2015-04-16 07:07] ezimuel commented on #18
Solved in #29

[2015-04-16 07:07] #18 closed

[2015-04-16 07:07] ezimuel commented on #28
Solved in #29

[2015-04-16 07:07] #28 closed

[2015-04-16 10:29] ezimuel opened #30 "The menu icon on the right is always visible"
The menu icon on the right is always visible, even on big screen (>= 1280 pixel), see image below:

![apigility_menu_issue](https://cloud.githubusercontent.com/assets/475967/7179035/2b4ff518-e434-11e4-8c41-30d3288c66ec.png)

[2015-04-16 11:19] jguittard opened #32 "Content negotiation is not called for RPC and REST services"
For RPC and REST services, the call to api.getContentNegotiation is made after service fetch is done, while it should belong to the callback.

[2015-04-16 11:28] ezimuel commented on #32
@jguittard why this is an issue? The content negotiation has a different API call than the RPC/REST call. It should be fine to have it in a separate event, even because all these services are executed by `initGeneral` function.

[2015-04-16 12:16] jguittard commented on #32
But upon getContentNegotiation, in the RPC controller, there’s a condition on vm.rpc defined, which is true only after the service responded.
I submitted this PR : https://github.com/zfcampus/zf-apigility-admin-ui/pull/33 <https://github.com/zfcampus/zf-apigility-admin-ui/pull/33>

If you could review it and tell me if that’d work.

Thank you.

Julien.

[2015-04-16 12:24] jguittard commented on #32
Context : you created a service (RPC or REST). When you display the page for service details, content negotiation selector list is missing for RPC and not matched for REST

[2015-04-16 16:05] ezimuel commented on #30
Solved by PR #31

[2015-04-16 16:05] #30 closed

[2015-04-16 16:06] ezimuel commented on #32
@jguittard Ok, I was able to reproduce the issue and I merged the PR #33 , thanks!

[2015-04-16 16:06] #32 closed

[2015-04-17 17:48] ezimuel opened #34 "The "generate from configuration" button is not showed in the UI"
The "generate from configuration" is not present in the Documentation tab of REST/RPC service.

[2015-04-20 18:18] #34 closed

[2015-04-20 19:54] weierophinney opened #36 "Errors rendering documentation"
Documentation is not rendering correctly due to a number of issues:

- zfcampus/zf-apigility-documentation#27 is leading to invalid return values from the API, leading to lack of any data to render.
- Once received, the data for fields needs to be accessed under `service.fields.input_filter`.
- There are some weird rendering issues in the `required` column for fields.

[2015-04-21 23:40] dstockto opened #42 "Dropdowns not selectable with mouse"
I updated to 1.1.1 (zfcampus/zf-apigility-admin 1.1.2 and zfcampus/zf-apigility-admin-ui 1.1.4 and the dropdowns in the UI appear to not work when the mouse is used to select an option. I think I can choose using the keyboard to type and hit enter to select but if the mouse is used to select something the keyboard doesn't work and the mouse doesn't appear to be able to actually make the selection

[2015-04-22 06:51] toringe commented on #24
Can confirm this in the latest 1.1.4. Strings are added correctly when I use `spacebar` or `tab` and if I add two or more strings, then the `save` button works. But for all other cases, the first element becomes empty.

[2015-04-23 14:50] thiagoflessak opened #43 "RPC authorization - service name with first letter capitalized"
Hello,

After upgrading to 1.1.0, if the RPC service name starts with uppercase, I believe it's gonna lead to an inconsitency between the way the interface will save the RPC authorization information and the way zf-mvc-auth will check ACL.

The interface will save the authorization information using the service name with the first letter capitalized, eg:

[code]

This way, when the acl rules are b

[2015-04-23 16:19] ezimuel opened #44 "Digest domains is not optional for HTTP Digest authentication"
The HTTP Digest authentication is wrongly marked as optional. `null` or empty values for this field produce an Exception from `ZF\MvcAuth\Factory\AuthenticationHttpAdapterFactory`.

[2015-04-23 21:17] #44 closed

[2015-04-28 14:56] mael-lg opened #47 "RPC authorization - versioning issue"
Hi,
It seems there is a bug in the authorization tab on the service view.

__Use case :__

I've 2 versions of an API (with 5 services inside).
The first version of the API has not any authorization configured.
The second version defined authorization for HTTP GET and POST methods (on all services).
I've configured the default version of the API to the version 1.

When i want to show the API author

[2015-04-30 22:43] dstockto opened #49 "Wrong text on delete filter modal"
When deleting a filter from a field in the new admin ui, the confirmation modal asks if you want to delete the driver option. It should probably ask about deleting a filter.

![image](https://cloud.githubusercontent.com/assets/775393/7423871/d6b91bc2-ef57-11e4-986a-655d48a21d81.png)

![image](https://cloud.githubusercontent.com/assets/775393/7423876/ea040d7c-ef57-11e4-8f74-d7ad0b176323.png)

[2015-05-07 14:51] elenag77 opened #50 "Creation of one HTTP Digest Authentication Adapter breaks the following new adapters"
Scenario:
1. Create Apigility 1.1 project
2. Open Apigility UI -> Authentication
3. Create new HTTP Digest Adapter
4. Create new HTTP Digest/HTTP Basic Adapter

Result:
Notification "Authentication Adapter created" occurred, but the new adapter is broken without name and type. When you click edit in the "Edit  Authentication Adapter" window most of the elements are missing (please see the attached

[2015-05-09 13:23] guliano opened #51 "Trimmed spaces in custom messages in validators"
When I provide custom message for any validator, then save and finally open dialog once again message becomes with trimmed spaces. See attachments.
![custome_message1](https://cloud.githubusercontent.com/assets/1310023/7550353/4ac750c0-f65f-11e4-81e7-00c1286034ef.png)
![custom_message2](https://cloud.githubusercontent.com/assets/1310023/7550354/4e3f651c-f65f-11e4-8c45-68eeec08cc93.png)

[2015-05-10 15:24] guliano commented on #51
This problem seems to be affected on every forms where any string message should be written. In example whole documentation section. Every description written there is trimming out the spaces.

[2015-05-12 02:39] thomasvargiu opened #52 "Doctrine Hydrator Strategies - Wrong field names"
When I open the modal to add a new hydrator strategy, entity fields are populated as
```<column_name> => <field_name>```
This cause to save the follow configuration:

[code]

but, in my case, the field is named ```insertTime```.

The problem is at this [line](https://github.com/zfcampus/zf-apigility-admin-ui/blob/f073affe7285232740abd5ef19ee4171111b901e/src/apigility-ui/rest/rest.controller.js#L13

[2015-05-27 21:27] thomasvargiu opened #55 "Assets collision warming up them"
When using ```FilesystemCache``` for caching assets or generating them in public directory to serve them statically, conflicts occurs.
This can be solved specifying path dir with the module name.

[2015-05-27 21:52] thomasvargiu commented on #55
Not a bug. Sorry.

[2015-05-27 21:52] #55 closed

[2015-05-29 07:52] RalfEggert opened #56 "Hostname and Charset fields have type password"
When editing a database adapter the fields for hostname and charset have the type "password". Therefore the input in these fields cannot be read.

[2015-05-29 08:08] RalfEggert opened #57 "Only one service is created when creating a DB connected service"
I have a database with two tables. I configured the database adapter and start to create a new API with two services, one for each table. When I choose DB connected service and select my database adapter, I see both tables. When I check both, I get an error `Error saving field`. Looking at the generated code the connection and entity classes are created for both services. But the configuration for

[2015-05-29 09:04] RalfEggert commented on #57
Another hint that might help: with Doctrine connected services this problem does not exist. Everything works fine

[2015-06-02 12:42] #43 closed

[2015-06-02 12:42] thiagoflessak commented on #43
Fixed: https://github.com/zfcampus/zf-mvc-auth/pull/68

[2015-06-16 11:43] pratheeshchambeth commented on #57
I have similar issue while creating DB Connected Service. I get an error 'Unable to fetch Service' .
Also the 'General Settings' tab for the service is blank.
However if I try to access the service using Postman, I do get proper response.

[2015-06-18 10:23] guliano commented on #51
It seems this issue is in the [zf-content-negotiation](https://github.com/zfcampus/zf-content-negotiation) component in v1.0.6. Updating this component to v1.0.7 resolved my issue.

[2015-06-18 10:23] #51 closed

[2015-06-20 09:52] jguittard commented on #56
This issue has been fixed a while ago. What version are you using ? (have a look at composer.json)

[2015-06-20 18:48] RalfEggert commented on #56
Well, I am using 1.1.4 of `ZF\Apigility\Admin\Ui` which is quite up-to-date, I guess.

[2015-06-20 18:54] guliano commented on #56
I confirm that. Problem occurs on edit form. On create form is ok.

[2015-06-22 09:20] ezimuel commented on #56
@RalfEggert, @guliano this is already fixed in master, see here:
https://github.com/zfcampus/zf-apigility-admin-ui/blob/master/src/apigility-ui/modal/edit-db.html#L33
https://github.com/zfcampus/zf-apigility-admin-ui/blob/master/src/apigility-ui/modal/edit-db.html#L41
/cc @jguittard

[2015-06-22 09:20] #56 closed

[2015-06-22 09:41] RalfEggert commented on #56
@ezimuel Yep, but if you do a fresh clone of the Apigility skeleton and install it via composer, it still is not fixed:

[code]

[2015-06-22 10:01] ezimuel commented on #56
@RalfEggert we need to rebuild the javascript production fiels (using `grunt clean && grunt build`). I'm working on other issue now, I'll update the master asap. Thanks!

[2015-06-22 10:03] RalfEggert commented on #56
No problem. you're welcome

[2015-06-22 12:48] ezimuel commented on #21
@dstockto This has been fixed with commit https://github.com/zfcampus/zf-apigility-admin-ui/commit/2695d17db02b51d624ca92bcd767bd98b446764f . Now we have a slider with on/off for boolean value:

![apigility-ui-boolean](https://cloud.githubusercontent.com/assets/475967/8282016/b45a4e92-18ed-11e5-8807-59f37b86cc34.png)
.

[2015-06-22 12:48] #21 closed

[2015-06-22 13:24] ezimuel commented on #23
@dstockto I just checked with master branch and it seems the only issue is related with ['zf-versioning']['uri'] with the addition of another version. In the route I don't see any error. Can you confirm?
It's definitely an issue of https://github.com/zfcampus/zf-apigility-admin.

Regarding the rewrite of existing values with numerical array index I guess we cannot do nothing, this comes from the u

[2015-06-22 16:25] ezimuel commented on #24
The PR #62 solve this issue. @weierophinney can you review? Thanks.

[2015-06-22 17:40] dstockto commented on #21
Thank you @ezimuel

[2015-06-23 13:57] ezimuel commented on #24
Thr PR #62 has been merged.

[2015-06-23 13:57] #24 closed

[2015-06-23 14:09] ezimuel commented on #42
@dstockto I cannot reproduce this issue, it's working fine now. I tested with Chrome, Firefox and Safari.

[2015-06-23 14:09] #42 closed

[2015-06-24 14:38] ezimuel commented on #47
@mael-lg I just send the PR #63 that fixes the issue for RPC and also for REST services. It was missing the `version` parameter in the API call.  Thanks for reporting!

[2015-06-24 14:38] #47 closed

[2015-06-24 14:56] ezimuel commented on #49
@dstockto I just sent this PR #64 that fixes the issue. Thanks for reporting!

[2015-06-24 14:56] #49 closed

[2015-06-24 15:08] ezimuel commented on #50
@elenag77 I just tried with a fresh installation, using the master branch, and I cannot reproduce the issue using your steps. I can create multiple HTTP Basic and Digest authentication without issue.
Did you try to update your installation using composer (composer update)?
I'm closing the issue but let me know anyway, thanks for reporting!

[2015-06-24 15:08] #50 closed

[2015-06-29 15:31] ezimuel commented on #23
I just sent 2 PRs to fix this issue:
- https://github.com/zfcampus/zf-apigility-admin/pull/297
- https://github.com/zfcampus/zf-apigility-admin-ui/pull/65

[2015-06-29 15:31] #23 closed

[2015-06-29 16:06] ezimuel commented on #57
@RalfEggert I just tried with the master branch of *zf-apigility-admin-ui* and *zf-apigility-admin*, using your database structure and everything works fine. I'm able to create 2 services with DB connected feature and select each one from the tree view:

![issue_57](https://cloud.githubusercontent.com/assets/475967/8412286/314e9160-1e89-11e5-913f-ca1b5470e15b.png)

I suggest to try with the master

[2015-06-29 16:06] #57 closed

[2015-06-29 16:28] ezimuel commented on #52
@jguittard can you look this issue? Thanks!

[2015-06-29 16:39] jguittard commented on #52
@thomasvargiu The field name is retrieved from Doctrine Metadata API, not from your entity implementation.
Plus, strategies are bound to the hydrator. So you may either use ClassMethods hydrator, or if you use another hydrator, add a Zend\Stdlib\Hydrator\NamingStrategy\UnderscoreNamingStrategy to your hydrator.

That could be something like:

[code]

[2015-06-29 17:14] thomasvargiu commented on #52
I'm sorry, maybe the issue was incomplete.
I know that field name is retrieved from Doctrine Metadata API, but I think from the wrong field.
The problem with my entity is that property is defined something like this:
[code]

where property name is ```insertTime``` and column name is ```insert_time```. The default hydrator strategy use the property name and not the column name, but the value you ar

[2015-07-15 13:26] jmdelehaye commented on #50
@see https://github.com/zfcampus/zf-apigility-admin/issues/291#issuecomment-121616104

[2015-07-16 13:46] ezimuel opened #67 "The About page report 1.1dev version"
The About page in the UI report the 1.1dev version. We need to change this according to the tag version.

[2015-07-16 16:05] akrabat opened #68 "Authentication page doesn't show custom OAuth2 Storage adapters"
I've implemented a custom OAuth2 storage adapter with the following config:

[code]

In the admin, when I click on the Authentication menu item at the top, my adapter is not shown in the list and I see an error of "Error fetching authentication adapters" (http://i.19ft.com/4b7165b5.png)

The console shows: http://i.19ft.com/fd9d5eb3.png

The list of available authentication types on a service page

[2015-07-16 16:11] ezimuel commented on #68
@akrabat the Authentication menu is designed to manage only HTTP Basic/Digest and OAuth2 types and not custom adapters. I need to check for the error that you reported. We should likely list the custom adapter in the list of the Authentication page, even if you cannot edit it.

[2015-07-16 16:13] akrabat commented on #68
Yeah, clearly it shouldn't be edited or probably deleted. I'm fine with there being a separate list as it'd be nice to see a complete overview on this page. At a minimum, no error would be nice :)

[2015-07-23 06:28] nuxwin opened #70 "Required options for validators"
Usage of admin ui to add validators is not really obvious. For instance, when adding ZF\Apigility\Doctrine\Server\Validator\NoObjectExists it should be clearly stated that entitty field is required. It took me 10 minutes to figure out. At end, I've just looked at my js debugger but. From my point of view, there should have two parts: Required options and optional options.

[2015-07-23 06:37] nuxwin commented on #68
@akrabat

Why you don't just redefine the service to point on your own factory?

[2015-07-23 06:43] nuxwin opened #71 "General settings link doesn't work in authorization section"
When clicking on the general settings link that is showed in the authorization section, nothing appears.

![apigility](https://cloud.githubusercontent.com/assets/125594/8844578/e68998be-3116-11e5-9715-b4f4c0a944fd.png)

[2015-07-23 07:55] akrabat commented on #68
@nuxwin That doesn't fix the issue for other authentication adapters, such as say an OAuth1 one.

[2015-07-23 19:23] weierophinney commented on #70
Ping @ezimuel and/or @jguittard — could one of you look into this, please?

[2015-07-26 14:50] santiph opened #72 "Missing 'is_collection' checkbox on fields options"
I couldn't find a way to set the `'is_collection' => true` option in the `input_filter_specs` config array so the field is ready to be processed as a collection of values (objects?)

[2015-07-26 18:49] CasperF opened #73 "Build API with hostname route"
I've added Apigility and Apigility Admin (+ UI) to my existing Zend Framework 2 project and so far this is a really, really great tool. Very useful and intuitive, a really good job to everyone who worked on it!

One thing that I thought wasn't implemented or I just didn't find, was the possibility to route my API calls through a hostname parent route, and then route the services through the child

[2015-07-27 03:35] dstockto commented on #42
It does seem to be working correctly in the latest version. Thank you.

[2015-07-30 16:18] ezimuel commented on #52
@jguittard can you review the PR provided by @thomasvargiu? Thanks!

[2015-08-03 21:25] jamespsterling opened #74 "Cannot read property 'table_name' of undefined"
When attempting to create a new service from conntected DB,

TypeError: Cannot read property 'table_name' of undefined
    at a.e.ok (http://demoise.corp.york-claims.com:8888/apigility-ui/c22d22af.apigility.js:1:6663)
    at se.functionCall (http://demoise.corp.york-claims.com:8888/apigility-ui/6a8334db.vendor.js:6:18544)
    at jf.(anonymous function).compile.c.on.e (http://demoise.corp.york-clai

[2015-08-04 11:19] ezimuel commented on #73
@CasperF Apigility doesn't support the specification of a hostname for API routing. As you noticed, you can differentiate between web calls and API with a prefix like `/api` (I know that can be boring to add). Anyway, your proposal it's an interesting feature to support in the next release. Thanks for reporting!

[2015-08-04 11:19] #73 closed

[2015-08-04 13:12] ezimuel commented on #74
@jamespsterling I fixed this issue with PR #75, I'm sorry for the inconvenient. Thanks for reporting!

[2015-08-04 19:18] #74 closed

[2015-08-06 17:58] ezimuel commented on #68
@akrabat I provided the PR #77 and https://github.com/zfcampus/zf-apigility-admin/pull/311 that add the support of custom auth adapters in the UI. Let me know if this solve your issue, thanks!

[2015-08-06 18:06] weierophinney commented on #68
@akrabat — to test, add Enrico's forks as vcs repos in your `composer.json`, and specify `dev-{branch name}@dev` for each of the admin and admin-ui dependencies.

I want to make sure the changes address your needs before merging! :)

[2015-08-07 15:45] akrabat commented on #68
Tested. It works for me on this project. Thanks @ezimuel !

[2015-08-10 16:55] #68 closed

[2015-08-11 13:12] wesleywillians commented on #74
Is there any release with this hotfix?

[2015-08-11 13:53] wesleywillians opened #78 "Error creating Db-connected services: tables with "_""
When I try to create a new db-connected rest service using a table with "_"(underscore), I get this error message:

"Error saving field".

I can see the files are generated, but Apigility UI cannot fetch the service.

I tried using:
"zfcampus/zf-apigility-admin-ui": "dev-develop",

If I use only apigility 1.3.1, there is still the JS bug during the service creation (#PR75), so I changed to dev-dev

[2015-08-13 19:41] epoleacov commented on #74
How to apply this hotfix?

[2015-08-13 19:46] wesleywillians commented on #74
You only need to add in your composer.json:
"zfcampus/zf-apigility-admin-ui": "dev-develop",

[2015-08-14 07:44] epoleacov commented on #57
Same error comes on *dev-master* and *dev-develop*, also tried with *zf-apigility-doctrine* without success, any ideas how to fix it?

[2015-08-14 08:01] epoleacov commented on #57
Found hint: if i try to use table without underscore symbols "_" it works fine.

[2015-08-15 19:43] gartner opened #79 "File /dist/apigility-ui/aa474560.apigility.js missing"
In this commit: https://github.com/zfcampus/zf-apigility-admin-ui/commit/ceb432fccd63bb896afcb155faaf05693b620443

it seems you forgot to add the file /dist/apigility-ui/aa474560.apigility.js

This makes the current state of the admin-ui unusable.

[2015-08-15 19:53] gartner opened #80 "Make DB autodiscovery also work with views"
It would be nice if the DB-connected autodiscovery would also work for views in the database.

[2015-08-16 08:35] gartner opened #81 "/ not allowed in content types"
When trying to add to the 'Accept whitelist' and 'Content-Type whitelist', the UI will not accept entries with a / in it.

This makes it quite hard to add proper content-types .....
(This is in v1.2.1)

[2015-08-16 19:40] gartner commented on #78
Been digging a bit in this, as I also ran into this.

It seems that when the new service is created, if the table name contains an underscore ( _ ), the API will convert this to what looks like CamelCase.

But when the UI then wants to create the fields for this newly created service, it (the UI) will still use the tablename with the underscore in it, when accessing the api (/apigility/api/module/

[2015-08-17 16:09] alessandrogarcez commented on #78
Hi Wesley, I got the same error.
http://stackoverflow.com/questions/32011684/apigility-error-saving-field-while-creating-db-connected-service?noredirect=1#comment51978970_32011684
I have no idea yet... but I'm looking for a solution.

[2015-08-17 23:25] alessandrogarcez commented on #78
Hello @gartner and @wesleywillians ... I found a solution.
In zfcampus-apigility-admin-ui change the function capitalizeFirstLetter in file src/apigility-ui/service/api.service.js adding the line "string = string.replace(/_(\w)/g, function(_,letter) { return letter.toUpperCase(); });" before the return.

I found a issue where were applied the solution but it seems not be in currently code... I don

[2015-08-18 12:12] alessandrogarcez commented on #78
It had already been fixed but it was undone in commit https://github.com/zfcampus/zf-apigility-admin-ui/commit/0cbaf331c6cebf9652b45619f0025f7ddbebeee2 .

@weierophinney can you tale a look because a bug was reopen in your commit?

[2015-08-18 14:47] weierophinney commented on #78
I have no idea why that was removed, tbh; my guess is that I may have been working from an older commit when applying a patch. I'll get that updated shortly.

[2015-08-19 09:22] Michal-sk commented on #79
Same issue.

[2015-08-24 10:56] #81 closed

[2015-08-24 11:01] ezimuel commented on #81
@gartner I changed the regexp in `[a-zA-Z-]+/[a-zA-Z0-9*_+.-]+` to be more compliant with the [standard specification](http://www.w3.org/Protocols/rfc1341/4_Content-Type.html). I also fixed the same issue for RPC service. Thanks!

[2015-08-24 13:15] ezimuel commented on #80
This feature has been added with PR https://github.com/zfcampus/zf-apigility-admin/pull/314.
@gartner Thanks for your contribution!

[2015-08-24 13:15] #80 closed

[2015-08-24 13:16] ezimuel commented on #79
This has been fixed in the current master.

[2015-08-24 13:16] #79 closed

[2015-08-24 14:56] ezimuel commented on #78
I fixed this issue with PR #83.

[2015-08-24 22:01] #67 closed

[2015-08-24 22:01] #71 closed

[2015-08-24 22:01] #78 closed

[2015-08-27 13:22] jamespsterling commented on #74
I added this updated to composer.json and did an update. It's still generating the same javascript error.

  - Updating zfcampus/zf-apigility-admin-ui (1.2.1 => dev-develop 94aea26)
    Checking out 94aea26214c4b065fc164e5f2bb39fe1f40ae33c

[2015-10-01 10:55] ThaDafinser opened #88 "Add confirm checkbox label"
There are lot of confirm boxes like
[code]

Change it, that the labels are clickable
[code]

[2015-10-02 13:41] PipStyles commented on #74
Still broken...

[2015-10-06 17:23] MarceloHenriquee commented on #74
The same error happens to me, I've tried various forms found on the web but not yet paid off

[2015-10-13 13:39] jpohlmann opened #89 "Code Connected REST Services Not Creating"
I'm not sure if this is an issue with my particular installation of apigility admin ui or not, but I have the following versions of modules installed:

zfcampus/zf-apigility-admin-ui      1.2.1
zfcampus/zf-apigility-admin          1.3.2

I ran into an issue where trying to add a Code Connected Service, I was getting an error that I wasn't providing a service name.  I tracked it to the service mana

[2015-10-20 17:38] ildanno opened #90 "Missing ng-model in bootstrap-toggle-switch creation"
The following error appears on showing the "add validator" modal:
`Error: [$compile:ctreq] Controller 'ngModel', required by directive 'toggleSwitch', can't be found!`

[2015-10-22 07:13] ildanno opened #92 "API calls use module name instead of namespace"
API calls compose endpoint uri using module name instead of namespace. This works unless you try to write a non-root psr4 module

[2015-11-03 20:51] theoziran opened #94 "Fix cursor when a link has not href attribute"

[2015-11-20 18:01] inobrega commented on #74
I made the same of @wesleywillians and it works like a charm ;)
A big hug to you, master. I'm your apprentice ;) @wesleywillians

[2015-11-29 10:07] JunielKatarn commented on #74
@ilson-nobrega, @wesleywillians:
I'm unexperienced with Zend-Framework or Apigility.

Can you guys please detail a little more on how to apply the patch (specifically version 1.2.x)?
What section within composer.json should I edit?

[2015-12-01 10:56] ilson-nobrega commented on #74
@JunielKatarn You just need to add "zfcampus/zf-apigility-admin-ui": "dev-develop" into your composer.json. It's so easy, look:

1. Just open composer.json file;
![image](https://cloud.githubusercontent.com/assets/7192737/11498753/930c9322-9808-11e5-8e2d-5b83fee1d8d4.png)

2. Now, search for "require-dev";
![image](https://cloud.githubusercontent.com/assets/7192737/11498771/b3d6b4fc-9808-11e5-9a39

[2015-12-06 12:09] aiamk commented on #74
@ilson-nobrega Thank you :)

[2015-12-17 14:33] blackhack123 opened #96 "erro on delete conect DB"
i have the nex error on delete the conect db service
on lcoal host

![erro db](https://cloud.githubusercontent.com/assets/15680143/11872025/398d7212-a4a1-11e5-98bf-eb59e5049d37.JPG)

[2016-01-25 20:10] gabrielsomoza commented on #94
The cursor doesn't show a hand if the `href` attribute is missing, which seems correct to me. Is there a specific area in the Admin where this isn't the case?

[2016-01-25 20:12] gabrielsomoza commented on #90
I ran in to this as well :+1:

[2016-01-25 20:14] gabrielsomoza commented on #88
bump :+1:

[2016-02-04 00:19] colinkelly commented on #96
Is there a particular reason why you want a backslash in your db adapter name?

Looks like this issue could be solvable if you add a deprecated escape() function to the Delete and Update functions. However, on my environment which is the latest version of this code gives me the exact opposite. The adapter_name is escaped when saved and when I delete it, it does not escape the name(db-adapter/DB\co

[2016-02-04 00:35] colinkelly commented on #94
Haha lol good one ;)

Try it in your chrome console, you'll see.

[2016-02-04 07:23] gabrielsomoza commented on #94
That's what I did, and didn't see anything weird. Maybe a screenshot would help in this case.

(BTW I'm not a repo maintainer)

[2016-02-04 22:49] colinkelly commented on #94
I think we should just close this ticket. Obviously there is no serious issue here. @theoziran hasn't left anything in the description. If there is really an issue, he will see my tag and respond ;)

If this is an issue in the sort that he scrolled on top of an href then the cursor does not turn back in an arrow, than, this means that his computer ran out of RAM or was on swap.

However, if there

[2016-02-05 19:29] theoziran commented on #94
An <a> tag without href will show a text cursor by default. If you find in the project will see many of <a /> with just ng-click attribute.

![screen_1](https://cloud.githubusercontent.com/assets/331873/12856425/13f33368-cc2c-11e5-9b11-d9ff6aa70c06.PNG)
![screen_2](https://cloud.githubusercontent.com/assets/331873/12856426/13f7e818-cc2c-11e5-80ab-dbe11b821e77.PNG)

[2016-02-07 01:19] colinkelly commented on #94
Oh I see the issue.  This is more because angular does not correct it in there css. We can add it to the [dashboard.css](https://github.com/colinkelly/zf-apigility-admin-ui/commit/529fcff3a8b6260b4b707f6f175ddea79e573f11) file as the following:

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

Or, it can be done in an other fashion just as such:

a {
 cursor: pointer;
}

;)

[2016-02-07 01:45] colinkelly commented on #88
Yup, I agree that this will work for what you would like as a result. However, for sensitive actions as such, I would discourage making the check box easier than it is already. This is not an action that you should do everyday. Essentially, for a good API, the golden rule is: once a service is created, never remove it or change the results. This is why apigility has versioning into its core. Unles

[2016-02-08 08:31] gabrielsomoza commented on #88
Good point about UX on very sensitive actions like deleting an API or services, although if that's really a concern a better way might be to take the approach where the user has to confirm by typing something on a text-box before being able to proceed.

For other cases (e.g. less sensitive settings on a service) I think its up to the person designing the API if they want to uncheck stuff on an end

[2016-02-08 14:09] leonardo-piseri commented on #78
This issue is still open, and fix in capitalizeFirstLetter() function has been removed (can't guess why).
Can you change to status "open"?

[2016-02-08 21:56] curtiskelsey opened #101 "Controller 'ngModel', required by directive 'toggleSwitch', can't be found!"
Found in version 1.2.2, When adding options to a Zend\I18n\Validator\Alnum validator, toggleSwitch does not load. Occurs in Zend\I18n\Validator\Alpha as well. It may be broken across all validator options. I have not confirmed this, however.

[2016-02-12 01:11] spectravp commented on #101
+1  Same here

[2016-02-17 06:09] colinkelly commented on #94
A pull request has been added for this issue: #100   ;)

[2016-02-17 06:23] colinkelly commented on #78
Yes @leonardo-piseri, you are right. The fix #59  for this issue has been overwritten and this is why I have made a new pull request for that #100. We'll just have to wait for the next version to be updated.

[2016-02-17 06:25] colinkelly commented on #57
A fix was added for this issue #59. However, it got overwritten, there is another pull request that is pending for a merge #100

[2016-02-17 18:35] spectravp commented on #101
Hope they fix this soon. It makes it nearly unusable.

[2016-02-19 10:15] hoebbelsB commented on #101
+1

[2016-02-28 21:34] Zbintiosul commented on #101
+1

[2016-03-03 15:12] spectravp commented on #101
Ugh... this is a duplicate of this issue from Oct 2015, https://github.com/zfcampus/zf-apigility-admin-ui/issues/90

[2016-03-04 17:44] mbn18 commented on #90
@ildanno
The patch does not work on my platform.
The ver of zfcampus/zf-apigility-admin-ui is 1.2.2

The php throw

`Warning: sort() expects parameter 1 to be array, null given in /srv/httpd/apigility/vendor/zfcampus/zf-apigility-admin/src/Model/AbstractPluginManagerModel.php on line 65`

[2016-03-05 01:27] spectravp opened #102 "Standard Filters missing"
Zend's standard filters are now absent from the filters list. This is from a download of the 1.3.2 archive and straight up vagrant up.

[2016-03-05 01:33] spectravp commented on #102
Looks like it is ignoring the filter_metadata array key and instead looking for the filters->invokables key. If I add a list of Zend Filter names there, they appear.

[2016-03-09 21:37] spectravp commented on #90
+1

[2016-03-17 20:02] spectravp opened #103 "Error fetching source code"
Apigility API responds with a status 406. Error fetching source code. Clean download of packaged version 1.3.3

[2016-03-17 20:02] spectravp opened #104 "Unable to fetch hydrators"
Apigility API responds with a status 406. Unable to fetch hydrators. Clean download of packaged version 1.3.3

[2016-03-17 20:03] spectravp opened #105 "Unable to fetch validator list"
Apigility API responds with a status 406. Unable to fetch validator list. Clean download of packaged version 1.3.3.   Can't really use validators any way due to this error since October: https://github.com/zfcampus/zf-apigility-admin-ui/issues/90

[2016-03-17 20:04] spectravp opened #106 "Error: [ui.select:transcluded] Expected 1 .ui-select-match but got '0'."
Error: [ui.select:transcluded] Expected 1 .ui-select-match but got '0'.

Probably due to Apigility 406 responses.

[2016-03-17 20:21] spectravp commented on #106
Closing. Believe this was related to Vagrant/Apache config and not Apigility

[2016-03-17 20:21] #106 closed

[2016-03-17 20:22] spectravp commented on #105
Closing. Believe this was related to Vagrant/Apache config and not Apigility

[2016-03-17 20:22] #105 closed

[2016-03-17 20:22] spectravp commented on #104
Closing. Believe this was related to Vagrant/Apache config and not Apigility

[2016-03-17 20:22] #104 closed

[2016-03-17 20:22] spectravp commented on #103
Closing. Believe this was related to Vagrant/Apache config and not Apigility

[2016-03-17 20:22] #103 closed

[2016-03-17 20:24] spectravp commented on #102
These are the only 2 filters available in v 1.3.3
<img width="628" alt="screen shot 2016-03-17 at 4 23 36 pm" src="https://cloud.githubusercontent.com/assets/272688/13860007/ace7668e-ec5c-11e5-9dc0-5a79fe9b22d6.png">

[2016-04-01 12:29] simonbaudry opened #108 "Fail to display rest service configuration which has underscores into the name"
For some reasons, it seems that the request generated to get the rest service data converts the service name like CamelCase and deletes the underscores.

Digging into the code, i saw that the `capitalizeFirstLetter` function in `src/apigility-ui/service/api.service.js` file has been modified by #100 and could be the reason of the bug.

[2016-04-03 11:08] Lansoweb commented on #102
Hi @spectravp. Actually it's not a problem in the UI, but in the admin module as in https://github.com/zfcampus/zf-apigility-admin/issues/337.

[2016-04-04 14:17] ThaDafinser commented on #88
Dont use apigility currently and there seem to be concerns, although this a default behaviour users expect

[2016-04-04 14:17] #88 closed

[2016-04-13 17:48] TomHAnderson opened #109 "Create new Service for Doctrine causes race condition"
When using Doctrine and creating a new service if more than one entity is selected a race condition occurs when both entities are submitted to be created.  This is caused because creating a new resource invokes code generation and the two jobs are submitted simultaneously.

The jobs should use a promise object to run one at a time.

p.s. I thought this was already reported.  It's been around forev

[2016-05-12 14:15] intellent commented on #105
@spectravp Having the same issue. Could you please elaborate, what exactly you changed in your Apache config?

[2016-06-01 17:10] spectravp opened #110 "Blocked loading resource (Growl)"
Blocked loading resource from url not allowed by $sceDelegate policy.  URL: templates/growl/growl.html

[2016-06-13 11:59] MihaiTudorP commented on #78
Hi. Even after the fixes mentioned earlier, I am still encountering the errors.
The automatic discovery does not work for Oracle database (I am getting ORA-12504: TNS:listener was not given the SERVICE_NAME in CONNECT_DATA in /opt/apigw/apigility/vendor/zendframework/zend-db/src/Adapter/Driver/Oci8/Connection.php on line 122).
After hardcoding the credentials, I see the tables. However, when attem

[2016-06-14 05:43] MihaiTudorP opened #111 "Errors when attempting to use Apigility with Oracle Database"
Hi.
Even after the fixes mentioned earlier, I am still encountering the errors.
The automatic discovery does not work for Oracle database (I am getting ORA-12504: TNS:listener was not given the SERVICE_NAME in CONNECT_DATA in /opt/apigw/apigility/vendor/zendframework/zend-db/src/Adapter/Driver/Oci8/Connection.php on line 122).
After hardcoding the credentials in Connection.php, I see the tables. H

[2016-06-20 20:03] impactcolor commented on #78
This says closed but I am also having same issue.  Any updates?

[2016-06-23 19:12] strausmann commented on #78
Hello, i have the same error. I use Apigility 1.3.2

[2016-07-02 05:49] Makombo opened #112 "Feature: Why is there no "Grant Type: Implicit" checkbox setting in Apigility GUI?"
According to the following <https://apigility.org/documentation/auth/authentication-oauth2>
you are required to manually set alter <config/autoload/local.php> by adding, the code below in order to add support for oauth2 _Grant Type: Implicit_

Is there a reason why this has been intentionally left out of the Apigility GUI... It would greatly make life easier if only there was a checkbox that one c

[2016-07-27 14:08] #52 closed

[2016-07-27 14:18] #90 closed

[2016-07-27 14:22] weierophinney commented on #94
Closed with #100.

[2016-07-27 14:22] #94 closed

[2016-07-27 20:34] #92 closed

[2016-08-06 06:22] jackdpeterson opened #115 "Unable to modify / delete services after composer update"
Similar error when attempting to delete a service as well.
![screen shot 2016-08-05 at 11 12 34 pm 2](https://cloud.githubusercontent.com/assets/938961/17455087/8c0a067c-5b62-11e6-8d47-ceabfc5adbee.png)

Below, note the duplicated route information (namespace, possibly?).

![screen shot 2016-08-05 at 11 13 07 pm 3](https://cloud.githubusercontent.com/assets/938961/17455096/a4b3c00a-5b62-11e6-867b-

[2016-08-06 07:18] jackdpeterson commented on #115
Steps to reproduce:

1. install apigility
[code]

2. create API, Service, modify service, delete service [all work okay, as expected]
3. perform composer.phar update

[code]

Resolve 500 due to missing AssetManager
[code]

4. attempt to create service [succeeds], modify service [FAILS], delete service [FAILS]

[2016-08-06 07:24] jackdpeterson commented on #115
The hack:

Modify require-dev in composer.json
[code]

composer.phar update
[code]

Now, re-attempt create service [succeeds], modify service [succeeds], delete service [succeeds].

[2016-08-09 21:27] jackdpeterson commented on #115
Resolved in ^1.3.2

[2016-08-09 21:27] #115 closed

[2016-08-12 19:35] webimpress opened #121 "Changing default version of the api - JS alert"
As we noticed with @weierophinney after changing default version of the api, when we try to go somewhere else JS alert: "You will lose unsaved changes if you leave this page" is shown.

Default version of api is changed (saved).

**Expected behavior:** Alert shouldn't be shown in that case.

[2016-08-14 12:57] weierophinney opened #122 "Sidebar displays incorrectly on initial load when default version does not match latest"
## Steps to reproduce

- Create an API
- Add a service of any type to that API
- Add a new version for the API
- Add a new service of any type to the API
- Set the default API version to version 1
- Refresh the browser

## What should happen

The sidebar should always default to the latest version, as that is the only editable version. In doing so, all services available to that version should be

[2016-08-14 12:59] weierophinney commented on #121
I've also noted this with other actions: saving changes to a service, saving filters or validators, etc.

[2016-08-14 13:02] weierophinney commented on #102
I believe this is resolved now; please update to the latest admin and/or admin-ui releases, and verify. Re-open the issue if you are still observing a problem, and provide the following details:

- Results of executing `composer show`
- A screenshot like you did before, demonstrating what you observe in the select box.

Thanks!

[2016-08-14 13:02] #102 closed

[2016-08-14 13:03] weierophinney commented on #89
If you can, please try again with the latest releases of the admin and admin-ui (admin is in the 1.5 series, UI is now in the 1.3 series), and let us know if you still observe the issue; I'm unable to reproduce it currently.

[2016-08-14 14:24] #122 closed

[2016-08-14 14:26] weierophinney opened #124 ""Add description for this service" link does not work"
## Steps to reproduce

- Create an API
- Create a service of any type
- Go to the dashboard for the given API
- Click  the "Add description for this service" link

## Expected result

This should pop open a dialog or similar to allow providing a service description.

## Observed result

Nothing happens.

[2016-08-14 14:29] weierophinney commented on #124
Ha! the link has no `ng-click` defined; it's only setup to display conditionally. Now to figure out if we have a dialog of any sort for this...

[2016-08-14 16:39] #124 closed

[2016-08-15 14:18] metanav opened #126 "HTTP method Authorization admin-ui broken after 1.4 upgrade"
I did 'composer update' for the new released Apigility 1.4.0. My existing application seems working fine but the checkboxes in the HTTP method Authorization (Authorization tab in admin-ui) is not set according to the configuration which were done previously.

[2016-08-16 08:03] developer-devPHP opened #127 "Problem with Authorization configuration"
With latest version of  apigility-admin-ui (version 1.3.7)
The Authorization creation during interface is incorrect. When via admin panel I am setting Authorization for example for GET method, in module config generating something like this

[code]

Autorization not working, because the correct structure should be this

[code]

If I manually changed to above structure Authorization working.

**Not

[2016-08-16 08:04] developer-devPHP commented on #127
#126

[2016-08-16 08:06] developer-devPHP commented on #127
@weierophinney What you think about this issue. Can this will fix sooner?

[2016-08-16 19:07] jguittard commented on #127
Fixed by #128

[2016-08-16 19:07] #127 closed

[2016-08-16 19:08] jguittard commented on #126
Looks like fixed by #128

[2016-08-16 19:08] #126 closed

[2016-09-01 05:42] Michal-sk opened #129 "Admin url not working and link not showing"
So i am having a issue with getting the admin ui working.

I enabled development mode and development.config.php is loaded and contains:

[code]

But nothing shows and the admin path does not work. So after doing some reading im unsure what documentation to follow.
- https://apigility.org/documentation/modules/zf-apigility-admin talks about the module Admin and not Admin\Ui
- https://github.com/zf

[2016-10-24 15:09] intellent opened #131 "UI not working behind https?"
It seems to me, the UI does not support HTTPS at the moment. It tries to load (some) *.js and *.css resources from unencrypted sources.

I’m aware one would only install/run the admin UI in dev environments, where you usually do not need encryption. However, we like to keep our dev-setup as close to production as possible, including TLS.

Our workaround for now is to disable HTTPS enforcement for

[2016-10-25 23:09] TomHAnderson commented on #109
Given the recent uptick in Doctrine contribution to Apigility I would like to bump this up to a higher priority.

ping @jguittard

[2016-10-27 21:12] guidofaecke opened #132 "[solved] Unable to fetch RPC services"
After switching back and forth with
`./vendor/bin/zf-development-mode disable`
and
`./vendor/bin/zf-development-mode enable`
Apigility is now showing only the icon, but no service names. It also greets me with "Unable to fetch RPC services"

[2016-10-27 21:13] jguittard commented on #132
Any errors in the console while fetching those services?

[2016-10-27 22:07] guidofaecke commented on #132
Nothing at all

[2016-10-27 22:24] guidofaecke commented on #132
Never mind... after checking the Network Tab in the Chrome Developer Tools I saw the problem. One of my factories was not correctly defined.

[2016-10-27 22:25] #132 closed

[2016-10-28 08:43] colinkelly commented on #131
What do you mean?

Sorry but you need to give us more details on it because it is crucial to reproduce the error. Disabling  SSL is not a solution and does not involve the UI.

Please give us more info.   (--verbose plz)

[2016-10-28 08:49] colinkelly commented on #129
This is not an issue with the repo but rather an issue with your configuration of LAMP(or LEMP these dayz).

Please verify your error logs in order to investigate. Let us know if you find anything relevant to this project.

[2016-10-28 08:53] colinkelly commented on #108
Can you prove it in order to help the investigation? A screenshot of error messages or logs would be good to help this...

Is it admin-UI or admin the proper repo to report to?

[2016-10-28 16:04] simonbaudry commented on #108
The repo to report it is admin-UI.

You are right I should have given more details about the issue when i saw it.
I tried to reproduce it without success, I guess it has been resolved since last April.

[2016-10-29 02:06] colinkelly commented on #108
Since you cannot reproduce the issue, I guess we can close this issue.

Thanks for your update by the way ;)

[2016-10-31 11:19] #108 closed

[2016-11-09 09:35] colinkelly commented on #131
Please close this issue as it has no relation to UI obviously...

[2016-11-09 09:48] colinkelly commented on #112
This is a well structured and formulated issue ticket. I don't have the time to verifty and replicate this but, please @somombo push this forward. The most you are verbose, the better it helps the community, Appigilaty is HUGE and has even huger potential!

[2016-11-09 10:12] intellent commented on #131
Hey @colinkelly, sorry for the late reply.

Let me provide more context to this issue.

I’m running ZF2 (with apigility-admin-ui) behind a reverse proxy. The reverse proxy also provides the TLS encryption. So basically my site runs at https://my-site.com.

However, if I try to open Apigility admin UI via https://my-site.com/apigility/ui#/ I get a nearly blank page, because most resources are tried

[2016-11-09 17:50] thomasvargiu opened #133 "Unable to select Doctrine adapter"
When there are multiple doctrine adapters, the `select` input (in resource creation/update) doesn't work and the `option` values are the same of the first item.

The HTML looks like this:

[code]

[2016-11-14 08:59] Michal-sk commented on #129
Right so it turns out this is not perse a admin-ui issue, rather a documentation issue.

In the development config modules we not only add `ZF\\Apigility\\Admin\\Ui` but we also MUST add `ZF\\Apigility\\Admin`. This is nowhere mentioned in the docs.

[2016-11-14 08:59] #129 closed

[2016-11-17 15:46] lucascampelo opened #134 "Support params routes on documentation section"
I'm using child routes with success in apigility, but the zfcampus/zf-apigility-documentation and zfcampus/zf-apigility-admin-ui packages apparently don't support the child routes.
I got this Notice on Documentation section:
`Notice: Undefined index: my.route/is-child in ./vendor/zfcampus/zf-apigility-documentation/src/ApiFactory.php on line 190`

I'm trying to make a fix about that but I need to

[2016-11-26 22:49] divix1988 opened #135 "Documentation link throws 404 Not found - ZF3"
When clicking on Documentation link on top of the UI, the API throws 404 not found error message:

**Request:**
http://localhost/zend3/apigility/documentation

**Response:**
`{"type":"http:\/\/www.w3.org\/Protocols\/rfc2616\/rfc2616-sec10.html","title":"Not Found","status":404,"detail":"Page not found."}`

(I might be missing some Zend component dependencies, but I am unsure which, as apigility do

[2016-11-27 15:38] webimpress commented on #135
Do you have installed and enabled module [`zfcampus/zf-apigility-documentation`](https://github.com/zfcampus/zf-apigility-documentation)?

[2016-11-28 19:36] divix1988 commented on #135
That worked thanks, are there any more required dependences?

[2016-11-29 09:37] webimpress commented on #135
Please check [`composer.json` of `zend-apigility-skeleton`](https://github.com/zfcampus/zf-apigility-skeleton/blob/master/composer.json#L28-L34) application.

[2016-12-02 17:34] divix1988 commented on #135
Cheers.

[2016-12-02 17:34] #135 closed

[2016-12-19 17:46] #133 closed

[2016-12-21 09:52] samsonasik opened #137 "Can't search service ( javascript error)"
Got Error on click "Search":
[code]

[2016-12-22 00:53] samsonasik opened #138 "haystack in Zend\Validator\Inarray removed after remove other field"
steps to reproduce:
- define fields: `foo` and `bar`
- `bar` field has `Zend\Validator\Inarray`, as we can't set haystack via GUI, then set manually at module.config.php
- remove `foo` field

actual result: "haystack" option in `bar` validator definitions removed.
expected result: "haystack" option in `bar` validator definitions should not be removed.

[2016-12-22 07:21] webimpress commented on #137
@samsonasik Can you provide more information? I can't reproduce it.
Tested on the latest version of admin-ui (1.3.9) in Chrome and Safari.

It looks like you have this issue also on the latest version in line (uncompiled):
https://github.com/zfcampus/zf-apigility-admin-ui/blob/master/src/apigility-ui/sidebar/sidebar.controller.js#L49

I have got another issue:
[code]
Here are steps to reproduce:
-

[2016-12-22 07:55] samsonasik commented on #137
[code]
Tried with Firefox 50.1.0

[2016-12-27 21:04] webimpress commented on #137
Ok, I have the same then, also on Chrome - so you need to type something in search input field and than click "Search" button.

[2017-02-17 00:27] Haolle opened #139 "new to Apigility, stuck in "getting start""
https://github.com/zfcampus/zf-apigility-skeleton/issues/156

sorry to post here again.

[2017-02-17 06:05] leandrogf opened #140 "Unable to fetch Doctrine metadata"
The request for address http://myapp.com/apigility/api/doctrine/doctrine.entitymanager.orm_default/metadata/Application%5CEntity%5CUser return :

[code]
The request it's performed with AngularJS service $http, but the Url is incorrect. The bars (\) that are guilty. I modified the Url replacing the bars for the hyphen in the request and adding the server side the rule to reverse.

I don't know if i

[2017-02-17 10:04] webimpress commented on #140
@leandrogf Can you submit PR with your solution, please?

[2017-02-24 09:57] webimpress commented on #140
@leandrogf Sorry, I just noted that probably everything is fine with it, please see "note about using apache" in zf-apigility-skeleton:
https://github.com/zfcampus/zf-apigility-skeleton#note-about-using-apache

Basically you need add to your apache configuration:
[code]

Hope it helps.

[2017-02-24 10:34] webimpress commented on #138
@samsonasik I was looking on it, and it seems to be a bit more complex issue. It needs changes also in zf-apigility-admin. Basically we need add option `haystack` in `validator_metadata` config:
https://github.com/zfcampus/zf-apigility-admin/blob/master/config/module.config.php#L1400-L1403
but then also in admin-ui we need to add support for array option values (now it works only with bool/int/str

[2017-03-23 14:45] obucinac opened #142 "DBConnected REST service creator shows only tables/views from public schema on Postgre"
When I try to create DB connected rest service using postgresql database, only tables/views from public scheme is visible.

Database contains multiple schemas with tables organiyed by functionality. DSN string is

DSN is pgsql:host=localhost;port=5433;dbname=taxi;

[2017-05-27 05:58] solody opened #143 "error notice:Unable to fetch documentation"
i'm using Apigility 1.4.1

When a module name including namespace slash,  like "MyVendor/MyModule"，the api documentation's url is `/apigility/documentation/MyVendor.MyModule-v1`, but `zf-apigility-admin-ui` generate the url as `/apigility/documentation/MyVendor%5CMyModule-v1`，so it get a `404 not found` response, then this error occurred.

this problem occurred in `zf-apigility-documentation-swagg

[2017-08-07 17:34] taat opened #144 "Angular 2 + ZF3"
I'm looking for any reference project using Angular (not AngularJS) and ZF2 or ZF3 together. I was hoping that this repo could be such a project, but I see AngularJS, which is a lot different than Angular2.
Does anyone use Angular and ZF3 together yet (with Bootstrap, without jQuery)?
Any plans on moving to Angular2?

[2017-09-08 13:55] bigred38 opened #145 "Unable to fetch content-negotiation details"
Hello,
I installed apigiility from scratch and after I followed this to include apigility into my project.

But When I run the apigility admin page, I got error like :
Unable to fetch content-negotiation details

With my console :
1bc54cd5.vendor.js:4 GET http://kit_2.0_php7/apigility/api/content-negotiation 404 (Not Found)

[2017-09-11 14:03] bigred38 commented on #145
I found the solution

[2017-09-11 14:45] webimpress commented on #145
@bigred38 can you share your solution, please? It will be good to have it for reference. If it is no logner an issue, please close it.

[2017-10-17 18:15] ryne-andal commented on #131
Happens when the servers are behind an LB as well. Mixed content is disabled and the UI blows up.

[2017-10-18 14:34] weierophinney commented on #131
It's not an issue _per se_; the code is doing what it's supposed to.

What's happening is that the `serverUrl()` is auto-detecting the URI scheme and authority, but detecting the ones running on your proxied server. These are not the _canonical_ versions, however, which is why everything blows up.

And this is why the `serverUrl()` helper _allows you to provide the value.

What I'd do is modify yo

[2017-10-18 14:49] ryne-andal commented on #131
Thanks @weierophinney. I didn't expect any code changes for this since like you said, the code is correct. I appreciate the code example, it's a great solution.

[2017-10-18 22:37] colinkelly commented on #131
Once again @weierophinney saves the day! Thanks mate. I'm glad this could help @intellent and @ryne-andal and others with the same issue.

[2018-12-24 10:41] developer-devPHP opened #149 "Error after new version of hydrator, when trying to create new input or fetch it using UI"
![2018-12-24_1439](https://user-images.githubusercontent.com/3036510/50397412-c8a9dc80-0789-11e9-9bf9-496e5654fc9c.png)

Here is an error, when trying to create new input or we already have an input

The error message are following
`Argument 1 passed to Zend\Hydrator\Filter\FilterComposite::filter() must be of the type string, integer given, called in /var/www/vendor/zendframework/zend-hydrator/sr

[2019-07-20 19:34] saulotoledo opened #150 "Apigility UI shows "no service" messages while loading the API"
The image below shows an API with one REST service. When the page opens, we may see the message "No REST Service" while the data is being loaded. The same is true for RPC services.

Showing the "no services" message when services are available may confuse users. We should have a loading message to show users what is really going on.

The "Authentication Type" field is also populated with some dela

[2019-07-20 19:39] saulotoledo commented on #150
Hi @weierophinney. Could you take a look at this quick fix?

[2019-07-20 21:56] saulotoledo opened #152 "Apigility UI shows empty service names while loading (sidebar)"
The image below shows the sidebar loading the API services. Note that the service names are empty for some time. That happens because more information about them is being loaded in background. We should add a loading to improve the responsiveness to the user.

![apigility_ui_slow_services](https://user-images.githubusercontent.com/5031156/61584446-01efd280-ab48-11e9-833f-0215dcea1009.gif)

[2019-07-20 22:07] saulotoledo commented on #152
Hi @weierophinney. Please have a look in this issue and the related PR.

[2019-08-22 17:05] arcanosam commented on #142
I'm using php 5.6 and apigility 1.5. Still only list the public schema tables. What option to get around this?

[2019-11-24 22:25] #152 closed

[2019-11-24 22:25] #150 closed

[2019-11-25 13:41] saulotoledo opened #154 "Apigility UI keeps showing previous source code while loading"
The image shows the issue. After changing the source code in a slow connection, Apigility UI keeps showing the previous code until the background loading has finished. A spin loader would give some feedback to the user and solve the issue.

![unresponsive_sourcecode_loading](https://user-images.githubusercontent.com/5031156/69544374-e1210900-0f8f-11ea-8509-b366d1a307de.gif)

[2019-11-25 13:44] saulotoledo opened #155 "Missing UI loader for fields"
There is no UI loader while loading the API fields. In addition, the message "no fields have been configured" does not exist.

![unresponsive_fields_loading](https://user-images.githubusercontent.com/5031156/69545357-f6973280-0f91-11ea-876a-c098cd0a0182.gif)

[2019-11-25 14:35] saulotoledo commented on #143
@michalbundyra, could you confirm this is the expected behavior?

[2019-11-25 14:38] michalbundyra commented on #143
@saulotoledo I believe it is a bug and namespace separator should be changed to `.` in that case.
Not sure if it was tested with "nested" modules, but if the correct link to the documentation is with `.` I believe admin-ui should use the same.

[2019-11-25 16:56] saulotoledo commented on #143
I could not replicate the issue. Swagger page also contains links with `.` already. That may be already fixed before, or I did not understand the problem. There are indeed a few cases in the URL with `%5C`, but they are not leading to `404 not found` and we may not need to change them.

@solody could you confirm this is still an issue? If yes, could you provide more details? @michalbundyra, if you

[2019-11-26 10:58] michalbundyra commented on #143
@saulotoledo tested on my instance and also I cannot replicate the issue. Thanks!

[2019-11-26 10:58] #143 closed

[2019-11-27 14:33] saulotoledo commented on #101
This was fixed in 1.2.4. https://github.com/zfcampus/zf-apigility-admin-ui/issues/90 is also closed.
I could not replicate the issue. @michalbundyra, I believe this can be closed.

[2019-11-27 14:36] michalbundyra commented on #101
Thanks, @saulotoledo!

[2019-11-27 14:36] #101 closed

[2019-11-27 14:45] saulotoledo commented on #145
@michalbundyra I also suggest to close this one. It has been a long time since the author comment and cannot be reproduced.

[2019-11-27 14:47] saulotoledo commented on #144
@michalbundyra It has been a long time since the author comment and it is off-topic. I suggest to close it.

[2019-11-27 14:48] michalbundyra commented on #145
Thanks, @saulotoledo!

[2019-11-27 14:48] #145 closed

[2019-11-27 14:48] saulotoledo commented on #145
@michalbundyra I also suggest to close this one. It has been a long time since the author comment and cannot be reproduced.

[2019-11-27 14:49] saulotoledo commented on #145
Ops, I deleted and recreated the comment by accident :-S
But ok, it is closed now.

[2019-11-27 14:54] michalbundyra commented on #144
Please use [chat](https://zendframework.slack.com/) ([Signup here](https://zendframework-slack.herokuapp.com/)) or our [forums](https://discourse.zendframework.com/) to ask a questions in future. Thanks!

[2019-11-27 14:54] #144 closed

[2019-11-27 19:16] #155 closed

[2019-11-27 19:16] #154 closed

[2019-11-27 19:19] #137 closed

[2019-11-27 19:22] #96 closed

[2019-12-31 20:22] weierophinney commented on #142
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/2.

[2019-12-31 20:22] weierophinney commented on #140
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/3.

[2019-12-31 20:22] weierophinney commented on #139
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/4.

[2019-12-31 20:22] weierophinney commented on #138
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/5.

[2019-12-31 20:22] weierophinney commented on #134
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/6.

[2019-12-31 20:22] weierophinney commented on #131
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/7.

[2019-12-31 20:22] weierophinney commented on #121
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/8.

[2019-12-31 20:22] weierophinney commented on #112
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/9.

[2019-12-31 20:22] weierophinney commented on #111
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/10.

[2019-12-31 20:22] weierophinney commented on #110
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/11.

[2019-12-31 20:22] weierophinney commented on #109
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/12.

[2019-12-31 20:22] weierophinney commented on #89
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/13.

[2019-12-31 20:22] weierophinney commented on #72
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/14.

[2019-12-31 20:22] weierophinney commented on #70
This repository has been closed and moved to laminas-api-tools/api-tools-admin-ui; a new issue has been opened at https://github.com/laminas-api-tools/api-tools-admin-ui/issues/15.